.carousel-sign-up {
  height: 100%;
  overflow: hidden;
  position: relative;
  .wrapper-slide {
    position: relative;
    .slide {
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .max-line-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-align: center;
      }
      .wrapper-content {
        height: 164px;
        overflow: hidden;

        .MuiGrid-root.wrapper-title {
          max-height: 92px;
          overflow: hidden;
          flex-basis: 55.555556%;
          max-width: 55.555556%;
          .title {
            line-height: 46px;
            @extend .max-line-2;
          }
        }
        .MuiGrid-root.wrapper-description {
          max-height: 48px;
          overflow: hidden;
          flex-basis: 44.444444%;
          max-width: 44.444444%;
          .description {
            @extend .max-line-2;
          }
        }
      }
    }

  }

}