.sign-up {
  .wrapper-right {
    min-height: 100vh;
    height: 100vh;
    background-color: var(--color-yellow-main);
  }
  .wrapper-left {
    .wrapper-content {
      max-height: 864px;
      .wrapper-input {
        height: 224px;
        max-height: 224px;
        box-sizing: border-box;
      }
      .wrapper-action {
        margin-top: 24px;
        height: 40px;
        box-sizing: border-box;
        margin-bottom: 40px;
      }
      .register {
        height: 56px;
        border-radius: var(--border-radius-md);
        .text-submit {
          color: white;
          text-transform: none;
        }
      }
    }
  }
}