.MuiOutlinedInput-root.select-language{
    width: 160px;
    height: 40px;
    background-color: var(--color-yellow-light600);
    border-radius: var(--border-radius-md);
  .MuiOutlinedInput-notchedOutline, &.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--color-yellow-light900);
  }
  &:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--color-yellow-light600);
  }
}
