@use "src/assets/styles/_mixins.scss";

.sign_in {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  .wrapper {
    min-height: 100vh;
    .wrapper-background {
      position: absolute;
      top: 48px;
      left: 48px;
      bottom: 48px;
    }
    .dropdown-language {
      position: absolute;
      right: 8%;
      top: 30px;
    }
  }
  .wrapper-form {
    height: 479px;
    box-sizing: border-box;
  }
  .wrapper-title {
    height: 70px;
    box-sizing: border-box;
  }
  .wrapper-social {
    height: 48px;
    box-sizing: border-box;
    .wrapper-social-button {
      width: 264px;
      @include mixins.md {
        width: auto;
      }
      @include mixins.lg {
        width: 264px;
      }
    }
  }
  .wrapper-input {
    height: 122px;
    box-sizing: border-box;
  }
  .wrapper-action {
    margin-top: 24px;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 40px;
  }
}