@use "src/assets/styles/_mixins.scss";

.wrapper-social {
  height: 48px;
  width: 264px;
  box-sizing: border-box;
  .wrapper-social-button {
    @include mixins.md {
      width: auto;
    }
    @include mixins.lg {
      width: 264px;
    }
  }
}